/* Add background color to the login page */
[role=main] .shopify-section--main-customers-login {
  background-color: rgba(251, 248, 246, 1);
}

/* Add background color to the login page */
.account-nav {
  background-color: rgba(251, 248, 246, 1);
}

/* Add button style to Board Finder in the header */
/* .header__main-nav li:first-child {
  padding-top: 12px;
}
.header__main-nav li:last-child {
  background-color: rgb(var(--button-background));
  color: rgb(var(--button-text-color));
  border-radius: var(--rounded-button);
  --button-background: var(--button-background-primary) /
    var(--button-background-opacity, 1);
  --button-text-color: var(--button-text-primary);
  --button-outline-color: var(--button-background-primary);
  padding-block-start: var(--spacing-3);
  padding-block-end: var(--spacing-3);
  padding-inline-start: var(--spacing-6);
  padding-inline-end: var(--spacing-6);
} */

/* Add green color for outlet */
/* .header__main-nav ul.contents:first-child > li:last-child a,
.navigation-drawer ul.v-stack:first-child li:last-child{
    background: #00a341;
    color: white;
    border-radius: 999px;
    padding: 10px 16px;
    border: 1px solid #00a341;
} */

/* Add background color for images */
.product-gallery__media img {
  background: linear-gradient(45deg, #fbf8f6, #f4edea);
}

#trustpilot-widget-trustbox-2-wrapper,
#CookiebotWidget{
  z-index: 1 !important;
}

.essential-preorder-container-active button{
  width: 100%;
}

.aw_store_locator {
  padding-top: 80px;
}
.aw-topnav {
  background: rgb(253, 249, 246);
  border-radius: 15px;
  padding: 20px;
}
.aw-btn, pac-target-input{
  border-radius: 0.5rem;
  border-color: rgba(131, 101, 88, 0.12);
  border-size: 1px;
}
.aw-topnav div{
  font-size: 14px;
}
